

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
    
}

body{
    background-color: greenyellow;
    
}

#esg{
    background-color: darkolivegreen;
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "Ambiental Social Governança";
    gap: 10px;
}    

.Ambiental{
    
    background-color: turquoise;
    border: 1px solid black;
    grid-area: Ambiental ;
    

}

.Social{
    
    background-color: turquoise;
    border: 1px solid black; 
    grid-area: Social;

}
.Governança{
    
    background-color: turquoise;
    border: 1px solid black;
    grid-area: Governança ;
}














